In [25]:
# take first element for sort
def takeFirst(elem):
    return elem[0]

def create_iob(line, labels):
    
    
    text_line = list(line["text"])
    text_list = line["text"].split(" ")
    final_list = []

    for t in text_list:
        annotated_text = t.strip(",./\;-")+" O"
        final_list.append(annotated_text)
        
    # make sure the labels are sorted by index position
    labels.sort(key=takeFirst)

    for label in labels:
        start = label[0]
        end = label[1]
        iob_term = label[2]
        entity_chars = text_line[start:end]

        entity_list = ''.join(entity_chars).split(" ")

        if len(entity_list) > 1:
            if entity_list[0] != '':
                #print(entity_list[0], "B-", label[2])

                compare_string = entity_list[0]+" O"
                annotated_text = entity_list[0]+" B-"+iob_term

                try:
                    pos = final_list.index(compare_string)
                    final_list[pos] = annotated_text
                except:
                    pass

            for e in entity_list[1:]:

                #print(e, "I-",label[2])
                compare_string = e+" O"
                annotated_text = e+" I-"+iob_term

                try:
                    pos = final_list.index(compare_string)
                    final_list[pos] = annotated_text
                except:
                    pass
        else:
            if entity_list[0] != '':
                #print(entity_list[0], "B-",iob_term)
                compare_string = entity_list[0]+" O"
                annotated_text = entity_list[0]+" B-"+iob_term

                try:
                    pos = final_list.index(compare_string)
                    final_list[pos] = annotated_text
                except:
                    pass
                
    return(final_list)

In [26]:
import json


json_file = open("indeed_tagged.json", "r")
conll_file = open("indeed_tagged.txt","w+")

for eachline in json_file:
    line = json.loads(eachline)
    split_line = line["text"].split(" ")
    
    if line["labels"] != None:
        labels = line["labels"]
        
        iob_list = create_iob(line, labels)
        
        if iob_list != "":
            for f in iob_list:
                conll_file.write(f)
                conll_file.write("\n")   
    else:
        continue

conll_file.close()

In [168]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 

# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data = pd.read_csv("/Users/titashneogi/workspace/NLP/NER/data/flair/eng_turk/EWNERTC.csv")

# Preview the first 5 lines of the loaded data 
data.head()

           Tags Sentences
0  ['B-LOCATION  ['Radawa
1             O        is
2             O         a
3             O   village
4             O        in

In [157]:
data.head(n=100)

            Tags Sentences
0   ['B-LOCATION  ['Radawa
1              O        is
2              O         a
3              O   village
4              O        in
..           ...       ...
95             O     water
96             O      from
97             O       the
98    B-LOCATION     River
99    I-LOCATION      Styx

[100 rows x 2 columns]

In [169]:
df = pd.DataFrame(data)

In [159]:
print(df)

                   Tags Sentences
0          ['B-LOCATION  ['Radawa
1                     O        is
2                     O         a
3                     O   village
4                     O        in
...                 ...       ...
123235356             O       NaN
123235357             O       NaN
123235358             O       NaN
123235359             O       NaN
123235360           O']       NaN

[123235361 rows x 2 columns]

In [170]:
newDf = df[['Sentences', 'Tags']]

In [171]:
newDf.to_csv('/Users/titashneogi/workspace/NLP/NER/data/flair/ewnet.tsv', index=False, sep='\t')